<html>
    <head>
        <title>pairing</title>
        
        <script type="text/javascript" src="lib/angular.js"></script>
		<script type="text/javascript" src="lib/jasmine/jasmine.js"></script>
        <script type="text/javascript" src="app.js"></script>
        <link rel="stylesheet" type="text/css" href="app.css" />
    </head>
    <body ng-app="app" ng-controller="mainController">
		<div class="the-boss">
        <h1>{{title}}</h1>
		<div class="comfy code-editor">
			<div class="the-bar">
				<h3>the code</h3>
				<button ng-click="run()">run (ctrl+r)</button>
				<select ng-show="versions.length > 0" 
					ng-model="currentVersion" 
					ng-change="restoreVersion()"
					ng-options="v.ts + ' (level: '+v.level+')' for v in versions"></select>
			</div>
			<textarea ng-model="code"></textarea>
		</div>
		<div class="comfy tests">
			<h3>the tests</h3>
			<div class="test" ng-repeat="test in testsInPlay" ng-class="getClass(test)" >
				{{test.content}}
				<br/><span class="error-msg">{{test.msg}}</span>
			</div>
		</div>
		</div>
    </body>
</html>