<html>
    <head>
        <title>pairing</title>
        
        <script type="text/javascript" src="lib/angular.js"></script>
        <script type="text/javascript" src="app.js"></script>
        <link rel="stylesheet" type="text/css" href="app.css">
    </head>
    <body ng-app="app" ng-controller="mainController">
		<div class="the-boss">
        <h1>{{title}}</h1>
		<div class="comfy code-editor">
			<h3>the code</h3>
			<button ng-click="run()">run</button>
			<textarea>some code</textarea>
		</div>
		<div class="comfy tests">
			<h3>the tests</h3>
			<div class="test" ng-repeat="test in testsInPlay" ng-class="{'pass': test.pass, 'fail': test.fail}" >
				{{test.content}}
			</div>
		</div>
		</div>
    </body>
</html>